@import url("https://fonts.googleapis.com/css2?family=Cardo:ital@1&family=Raleway:wght@400;500;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
.features .block__h4,
.wrapper .main p,
button,
.footer p,
.download .download__text p,
.team .team__block p,
.team .team__block h5,
.work .work__block1 p,
.features .features__block > p,
.comments .comments__block .comments__message .comments__man p,
.wrapper .header__nav a {
  font-family: "Raleway";
  letter-spacing: 0em;
  font-style: normal;
}

h1 {
  font-size: 64px;
  font-weight: 900;
  line-height: 75px;
  text-transform: uppercase;
}

h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
}

h3 {
  font-size: 30px;
  font-weight: 700;
  line-height: 35px;
}

.features .block__h4, .wrapper .main p, button,
h4 {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}

.footer p, .download .download__text p, .team .team__block p, .team .team__block h5, .work .work__block1 p, .features .features__block > p {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}

.comments .comments__block .comments__message .comments__man p, .wrapper .header__nav a {
  font-size: 13px;
  font-weight: 700;
  line-height: 15px;
  text-transform: uppercase;
}

.footer .copy, .comments .comments__block .comments__message, .work .work__block1:hover .work__info, .features .block__h4, .wrapper .header__nav a, .wrapper .header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer .footer__content > div, .download .download__text, .download, .team .team__block, .features .features__block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

a {
  text-transform: uppercase;
}

button {
  background: rgb(255, 67, 67);
  width: 370px;
  height: 80px;
  color: white;
  text-transform: uppercase;
  font-weight: 900;
  transition: 1s;
}
button:hover {
  background: rgb(231, 20, 20);
  box-shadow: 10px 10px rgba(0, 0, 0, 0.5803921569);
  transition: 1s;
  transform: translate(-10px, -10px);
}
button:active {
  background: rgb(255, 67, 67);
  box-shadow: 0 0 100px 10px rgb(255, 67, 67);
  transition: 0.1s;
  transform: translate(0, 0);
}

body {
  max-width: 1510px;
  margin: 0 auto;
}

.wrapper {
  background: linear-gradient(rgba(37, 43, 73, 0.8), rgba(37, 43, 73, 0.8)), url(../img/banner.jpg) no-repeat center;
  background-size: auto 100%;
  min-height: 747px;
  padding: 0 20px;
  color: white;
}
.wrapper .header {
  max-width: 1170px;
  border-bottom: 1px solid rgb(186, 187, 197);
  justify-content: space-between;
  margin: 0 auto;
}
.wrapper .header__nav {
  display: flex;
}
.wrapper .header__nav a {
  width: 134px;
  height: 100px;
  color: white;
  transition: 1s;
}
.wrapper .header__nav a:hover {
  box-shadow: inset 0 -5px 0 0 rgb(186, 187, 197);
  text-shadow: 10px 10px 4px rgba(186, 187, 197, 0.5), 2px 2px 10px rgb(231, 20, 20);
  transition: 1s;
}
.wrapper .header__nav a:active {
  box-shadow: inset 0 -5px 0 0 rgb(231, 20, 20);
  color: rgb(231, 20, 20);
  transition: 0.1s;
}
.wrapper .main {
  max-width: 1170px;
  text-align: center;
  margin: 129px auto 0 auto;
}
.wrapper .main p {
  margin: 31.4px 83px 80px 83px;
}
.wrapper .main h1 {
  margin: 0 30px;
}
.wrapper .menu,
.wrapper .main span {
  display: none;
}

@media screen and (max-width: 1150px) {
  .wrapper h1 {
    font-size: 48px;
    line-height: 56px;
  }
  .wrapper .header__nav a {
    width: 112px;
  }
  .wrapper .main p {
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    margin: 62px 83px 89px 83px;
  }
  .wrapper button {
    width: 314px;
  }
}
@media screen and (max-width: 780px) {
  .wrapper {
    min-height: 574px;
    padding: 0;
    background: linear-gradient(rgba(37, 43, 73, 0.8), rgba(37, 43, 73, 0.8)), url(../img/banner.jpg) no-repeat center;
    background-size: cover;
  }
  .wrapper h1 {
    font-size: 36px;
    line-height: 42px;
  }
  .wrapper .header {
    border: none;
    height: 56px;
  }
  .wrapper .header img {
    width: 103px;
    height: 15px;
    margin-left: 20px;
  }
  .wrapper .header__nav {
    display: none;
  }
  .wrapper .main {
    margin-top: 50px;
  }
  .wrapper .main h1 {
    margin: 0 18px;
  }
  .wrapper .main p {
    margin: 32px 35px 49px 35px;
    font-size: 14px;
    line-height: 16px;
  }
  .wrapper button {
    width: 280px;
    height: 60px;
  }
  .wrapper .menu,
.wrapper .main span {
    display: block;
  }
  .wrapper .header:target .header__nav {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 56px;
    width: 100%;
    height: 517px;
    background: linear-gradient(rgba(37, 43, 73, 0.8), rgba(37, 43, 73, 0.8)), url(../img/banner.jpg) no-repeat center;
    background-size: auto;
  }
  .wrapper .header:target .header__nav a {
    height: 63px;
    justify-content: start;
    margin-left: 20px;
  }
  .wrapper .menu__button_close {
    display: none;
  }
  .wrapper .header:target .menu__button {
    display: none;
  }
  .wrapper .header:target .menu__button_close {
    display: flex;
  }
}
@media screen and (max-width: 450px) {
  .wrapper {
    background: linear-gradient(rgba(37, 43, 73, 0.8), rgba(37, 43, 73, 0.8)), url(../img/menu.jpg) no-repeat center;
    background-size: 100% 100%;
  }
  .wrapper .header:target .header__nav {
    background: linear-gradient(rgba(37, 43, 73, 0.8), rgba(37, 43, 73, 0.8)), url(../img/menu.jpg) no-repeat center;
    background-size: 100% 100%;
  }
}
.features {
  margin: 38px auto 116px auto;
  max-width: 1170px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.features .features__block {
  max-width: 370px;
  height: 305px;
  margin: 0 auto;
  margin-top: 88px;
}
.features .features__block img {
  width: 100px;
}
.features .features__block > p {
  text-align: center;
  color: rgb(108, 114, 121);
}
.features .block__h4 {
  font-weight: 900;
  text-transform: uppercase;
  height: 72px;
}

@media screen and (max-width: 1150px) {
  .features {
    margin: 29px auto 80px auto;
  }
  .features .features__block {
    max-width: 315px;
    height: 237px;
    margin-top: 49px;
  }
  .features .features__block img {
    width: 84px;
  }
  .features .features__block > p {
    font-size: 14px;
    line-height: 16px;
  }
  .features .block__h4 {
    font-size: 18px;
    line-height: 21px;
  }
}
@media screen and (max-width: 780px) {
  .features {
    margin: 40px auto 34px auto;
  }
  .features .features__block {
    max-width: 280px;
    height: 223px;
    margin-top: 41px;
  }
  .features .features__block img {
    width: 75px;
  }
}
.work {
  max-width: 1510px;
  max-height: 678px;
}
.work .work__block {
  display: flex;
}
.work .work__block1 {
  position: relative;
  display: flex;
  width: 100%;
}
.work .work__block1 .work__info {
  display: none;
}
.work .work__block1:hover .work__info {
  position: absolute;
  background: rgba(255, 67, 67, 0.8);
  border: 4px solid #FFFFFF;
  z-index: 2;
  top: 0;
  width: 100%;
  height: 100%;
  flex-direction: column;
  color: white;
  cursor: pointer;
  opacity: 0;
}
.work .work__block1:hover .work__info:hover {
  opacity: 1;
  transition: all 1s;
}
.work .work__block1:active .work__info {
  background: rgba(185, 12, 12, 0.8);
  border: 2px solid #FFFFFF;
}
.work .work__block1:active .work__info:active {
  transition: all 0s;
}
.work .work__block1 h4 {
  text-transform: uppercase;
  font-weight: 900;
  margin-bottom: 20px;
}
.work img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 1150px) {
  .work .work__block h4 {
    font-size: 18px;
    line-height: 21px;
  }
  .work .work__block p {
    font-size: 14px;
    line-height: 16px;
  }
}
@media screen and (max-width: 780px) {
  .work {
    max-height: none;
    display: flex;
  }
  .work .work__block {
    flex-direction: column;
  }
}
.team {
  margin: 114px auto;
  display: flex;
  justify-content: space-between;
  max-width: 1170px;
}
.team .team__block {
  align-items: start;
  justify-content: space-between;
  height: 619px;
  transition: 1s;
}
.team .team__block div {
  transition: 1s;
}
.team .team__block img {
  width: 100%;
  transition: 1s;
}
.team .team__block h4 {
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 5.4px;
}
.team .team__block h5 {
  text-transform: uppercase;
  color: rgb(255, 67, 67);
}
.team .team__block p {
  max-width: 270px;
  color: rgb(108, 114, 121);
  transition: 1s;
}
.team .team__block .team__icon {
  width: 128px;
  display: flex;
  justify-content: space-between;
  transition: 1s;
}
.team .team__block .team__icon img {
  width: 39px;
}

.team__block:hover {
  transform: scale(0.95);
  transition: 1s;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.team__block:hover div,
.team__block:hover p {
  padding: 0 10px;
  transition: 1s;
}

.team__block:hover .team__icon {
  width: 150px;
}

@media screen and (max-width: 1150px) {
  .team {
    margin: 78px 20px;
  }
  .team .team__block {
    width: 227px;
    height: 520px;
    margin: 5px;
  }
  .team .team__block h4 {
    font-size: 18px;
    line-height: 21px;
  }
  .team .team__block h5 {
    font-size: 14px;
    line-height: 16px;
  }
  .team .team__block p {
    font-size: 14px;
    line-height: 16px;
  }
}
@media screen and (max-width: 780px) {
  .team {
    flex-wrap: wrap;
    margin: 10px auto 35px auto;
  }
  .team .team__block {
    width: 280px;
    margin-bottom: 56px;
    margin: 25px auto;
  }
  .team .team__block > img {
    height: 228px;
    object-fit: cover;
    margin: 0;
  }
  .team .team__block p {
    max-width: 280px;
  }
  .team .team__block:last-of-type {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 600px) {
  .team {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}
.comments {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  flex-wrap: wrap;
}
.comments input {
  display: none;
}
.comments label {
  height: 14px;
  width: 14px;
  margin: 25px;
  margin-top: 31px;
  order: 3;
  display: block;
  border: 1px solid rgb(126, 93, 111);
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}
.comments:hover label {
  width: 30px;
  height: 30px;
  margin-top: 15px;
}
.comments:hover label::before {
  content: "";
  font-size: 25px;
  font-family: "Raleway";
  position: absolute;
  top: -12%;
  left: 28%;
  color: white;
}
.comments:hover label:nth-of-type(1)::before {
  content: "5";
}
.comments:hover label:nth-of-type(2)::before {
  content: "4";
}
.comments:hover label:nth-of-type(3)::before {
  content: "3";
}
.comments:hover label:nth-of-type(4)::before {
  content: "2";
}
.comments:hover label:nth-of-type(5)::before {
  content: "1";
}
.comments input[type=radio]:checked + label {
  background: #7E5D6F;
}
.comments #comments1:checked ~ #comments_input1,
.comments #comments2:checked ~ #comments_input2,
.comments #comments3:checked ~ #comments_input3,
.comments #comments4:checked ~ #comments_input4,
.comments #comments5:checked ~ #comments_input5 {
  display: flex;
}
.comments .comments__block {
  width: 100%;
  display: none;
}
.comments .comments__block img {
  width: 50%;
}
.comments .comments__block .comments__message {
  width: 50%;
  height: 100%;
  background: rgb(92, 50, 73);
  color: white;
  flex-direction: column;
  align-items: start;
  padding-left: 130px;
}
.comments .comments__block .comments__message .comments__text {
  width: 77%;
  padding: 20px 0;
}
.comments .comments__block .comments__message .comments__text p {
  font-family: "Cardo";
  font-style: italic;
  font-weight: 400;
  font-size: 36px;
  line-height: 49px;
  text-transform: capitalize;
}
.comments .comments__block .comments__message .comments__man {
  width: 90%;
}
@media screen and (max-width: 1150px) {
  .comments .comments__block .comments__message {
    padding-left: 80px;
  }
  .comments .comments__block .comments__message .comments__text p {
    font-size: 24px;
    line-height: 32px;
  }
  .comments .comments__block .comments__message .comments__man p {
    font-size: 12px;
    line-height: 14px;
  }
}
@media screen and (max-width: 780px) {
  .comments {
    margin: 0 auto;
  }
  .comments label {
    height: 9.5px;
    width: 9.5px;
    margin: 10px;
    margin-top: 23px;
  }
  .comments:hover label {
    width: 25px;
    height: 25px;
    margin-top: 7.5px;
  }
  .comments:hover label::before {
    content: "";
    font-size: 20px;
    font-family: "Raleway";
    position: absolute;
    top: -12%;
    left: 28%;
    color: white;
  }
  .comments .comments__block {
    flex-direction: column;
  }
  .comments .comments__block img {
    width: 100%;
  }
  .comments .comments__block .comments__message {
    padding: 0 20px;
    width: 100%;
    height: 226px;
    align-items: center;
    justify-content: start;
  }
  .comments .comments__block .comments__message .comments__text {
    text-align: center;
    width: 100%;
  }
  .comments .comments__block .comments__message .comments__text p {
    font-size: 24px;
    line-height: 32px;
  }
  .comments .comments__block .comments__message .comments__man {
    width: 100%;
  }
  .comments .comments__block .comments__message .comments__man p {
    font-size: 12px;
    line-height: 14px;
    text-align: center;
  }
}
@media screen and (max-width: 450px) {
  .comments .comments__block .comments__message {
    height: 326px;
  }
}
.download {
  margin: 114px auto;
  width: 100%;
  height: 224px;
}
.download .download__text {
  height: 80px;
  justify-content: space-between;
}
.download .download__text h3 {
  font-weight: 500;
}
.download .download__text p {
  text-transform: uppercase;
  font-weight: 700;
}

@media screen and (max-width: 1150px) {
  .download {
    height: 204px;
    margin: 77px auto 78px auto;
  }
  .download .download__text {
    height: 70px;
  }
  .download .download__text h3 {
    font-size: 24px;
    line-height: 28px;
    text-align: center;
  }
  .download .download__text p {
    font-size: 14px;
    line-height: 16px;
    text-align: center;
  }
  .download button {
    font-size: 18px;
    line-height: 21px;
  }
}
@media screen and (max-width: 780px) {
  .download {
    margin: 34px auto 45px auto;
  }
  .download .download__text {
    height: 100px;
    justify-content: space-around;
  }
  .download .download__text h3 {
    font-size: 18px;
    line-height: 21px;
    margin: 0 55px;
  }
  .download .download__text p {
    font-size: 13px;
    line-height: 15px;
    margin: 0 42px;
  }
}
@media screen and (max-width: 450px) {
  .download .download__text {
    justify-content: space-between;
  }
  .download button {
    width: 280px;
  }
}
.footer {
  height: 350px;
  background: rgb(53, 60, 101);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer .footer__content {
  width: 100%;
  height: 110px;
  margin: 80px auto 0 auto;
  display: flex;
  justify-content: center;
}
.footer .footer__content > div {
  width: 370px;
  text-align: center;
  margin: 0 15px;
}
.footer .footer__content > div p:first-of-type {
  font-weight: 700;
  text-transform: uppercase;
}
.footer .footer__content > div:nth-of-type(2n+1) p:last-of-type {
  text-transform: capitalize;
}
.footer .location {
  height: 71px;
}
.footer .footer__icon {
  display: flex;
  justify-content: space-between;
  width: 170px;
}
.footer .copy {
  background: rgb(44, 49, 84);
  height: 90px;
}
.footer .copy span {
  color: rgb(128, 128, 128);
}
.footer .copy .copy__block {
  width: 370px;
  text-align: center;
}

@media screen and (max-width: 1150px) {
  .footer {
    height: 230px;
  }
  .footer p {
    font-size: 14px;
    line-height: 16px;
  }
  .footer .footer__content {
    height: 80px;
    margin: 46px auto 0 auto;
  }
  .footer .footer__content > div {
    width: 315px;
  }
  .footer .footer__content .location {
    height: 50px;
  }
  .footer .footer__content img {
    width: 33px;
  }
  .footer .copy {
    height: 60px;
  }
  .footer .copy .copy__block {
    width: 340px;
  }
}
@media screen and (max-width: 600px) {
  .footer {
    height: 540px;
  }
  .footer .footer__content {
    max-width: 320px;
    height: 450px;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 auto;
  }
  .footer .footer__content > div {
    width: 280px;
    margin: 0 20px;
  }
  .footer .footer__content .location {
    height: 66px;
  }
  .footer .footer__content .social {
    height: 85px;
  }
  .footer .footer__content .footer__icon {
    width: 131px;
  }
  .footer .footer__content .about {
    height: 103px;
  }
  .footer .copy {
    height: 90px;
  }
  .footer .copy .copy__block {
    width: 90%;
    height: 32px;
  }
}/*# sourceMappingURL=style.css.map */