@import url("https://fonts.googleapis.com/css2?family=Cardo:ital@1&family=Raleway:wght@400;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
.features .block__h4,
section p,
button,
.team .team__block p,
.team .team__block h5,
.work .work__block1 p,
.features .features__block > p,
.comments .comments__block .comments__message .comments__man p,
.header__nav a {
  font-family: "Raleway";
  letter-spacing: 0em;
  font-style: normal;
}

h1 {
  font-size: 64px;
  font-weight: 900;
  line-height: 75px;
  text-transform: uppercase;
}

h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
}

h3 {
  font-size: 30px;
  font-weight: 700;
  line-height: 35px;
}

.features .block__h4, section p, button,
h4 {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}

.team .team__block p, .team .team__block h5, .work .work__block1 p, .features .features__block > p {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}

.comments .comments__block .comments__message .comments__man p, .header__nav a {
  font-size: 13px;
  font-weight: 700;
  line-height: 15px;
  text-transform: uppercase;
}

.comments .comments__block .comments__message, .work .work__block1:hover .work__info, .features .block__h4, .header__nav a, .header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.team .team__block, .features .features__block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

a {
  text-transform: uppercase;
}

button {
  background: rgb(255, 67, 67);
  width: 370px;
  height: 80px;
  color: white;
  text-transform: uppercase;
  font-weight: 900;
}
button:hover {
  background: rgb(231, 20, 20);
}
button:active {
  background: rgb(255, 67, 67);
  box-shadow: 4px 4px 30px #FF4343;
}

body {
  max-width: 1510px;
  margin: 0 auto;
}

main {
  background: linear-gradient(rgba(37, 43, 73, 0.8), rgba(37, 43, 73, 0.8)), url(../img/banner.jpg) no-repeat center;
  background-size: auto 100%;
  min-height: 747px;
  padding: 0 20px;
  color: white;
}

.header {
  max-width: 1170px;
  border-bottom: 1px solid rgb(186, 187, 197);
  justify-content: space-between;
  margin: 0 auto;
}

.header__nav {
  display: flex;
}
.header__nav a {
  width: 134px;
  height: 100px;
  color: white;
}
.header__nav a:hover {
  border-bottom: 3px solid rgb(186, 187, 197);
}
.header__nav a:active {
  border-bottom: 3px solid rgb(231, 20, 20);
  color: rgb(231, 20, 20);
}

section {
  max-width: 1170px;
  text-align: center;
  margin: 129px auto 0 auto;
}
section p {
  margin: 31.4px 83px 80px 83px;
}
section h1 {
  margin: 0 30px;
}

.menu,
span {
  display: none;
}

@media screen and (max-width: 1150px) {
  h1 {
    font-size: 48px;
    line-height: 56px;
  }

  .header__nav a {
    width: 112px;
  }

  section p {
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    margin: 62px 83px 89px 83px;
  }

  button {
    width: 314px;
  }
}
@media screen and (max-width: 780px) {
  h1 {
    font-size: 36px;
    line-height: 42px;
  }

  main {
    min-height: 574px;
    padding: 0;
    background: linear-gradient(rgba(37, 43, 73, 0.8), rgba(37, 43, 73, 0.8)), url(../img/menu.jpg) no-repeat center;
    background-size: 100% 100%;
  }

  .header {
    border: none;
    height: 56px;
  }
  .header img {
    width: 103px;
    height: 15px;
    margin-left: 20px;
  }

  .header__nav {
    display: none;
  }

  section {
    margin-top: 50px;
  }
  section h1 {
    margin: 0 19px;
  }
  section p {
    margin: 32px 35px 49px 35px;
    font-size: 14px;
    line-height: 16px;
  }

  button {
    width: 280px;
    height: 60px;
  }

  .menu,
span {
    display: block;
  }

  .header:target .header__nav {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 56px;
    width: 100%;
    height: 517px;
    background: linear-gradient(rgba(37, 43, 73, 0.8), rgba(37, 43, 73, 0.8)), url(../img/menu.jpg) no-repeat center;
    background-size: 100% 100%;
  }
  .header:target .header__nav a {
    height: 63px;
    justify-content: start;
    margin-left: 20px;
  }

  .header:target section {
    display: none;
  }

  .menu__button_close {
    display: none;
  }

  .header:target .menu__button {
    display: none;
  }
  .header:target .menu__button_close {
    display: flex;
  }
}
.features {
  margin: 116px auto;
  max-width: 1170px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.features .features__block {
  max-width: 370px;
  height: 305px;
  margin: 0 auto;
}
.features .features__block img {
  width: 100px;
}
.features .features__block > p {
  text-align: center;
  color: rgb(108, 114, 121);
}
.features .features__block:nth-of-type(1n+4) {
  margin-top: 88px;
}
.features .block__h4 {
  font-weight: 900;
  text-transform: uppercase;
  height: 72px;
}

@media screen and (max-width: 1150px) {
  .features {
    margin: 78px auto;
  }
  .features .features__block {
    max-width: 315px;
    height: 237px;
  }
  .features .features__block img {
    width: 84px;
  }
  .features .features__block > p {
    font-size: 14px;
    line-height: 16px;
  }
  .features .features__block:nth-of-type(1n+4) {
    margin-top: 49px;
  }
  .features .block__h4 {
    font-size: 18px;
    line-height: 21px;
  }
}
@media screen and (max-width: 780px) {
  .features {
    margin: 40px auto 34px auto;
  }
  .features .features__block {
    max-width: 280px;
    height: 223px;
    margin-top: 41px;
  }
  .features .features__block img {
    width: 75px;
  }
}
.work {
  max-width: 1510px;
  max-height: 678px;
}
.work .work__block {
  display: flex;
}
.work .work__block1 {
  position: relative;
}
.work .work__block1 .work__info {
  display: none;
}
.work .work__block1:hover .work__info {
  position: absolute;
  background: rgba(255, 67, 67, 0.8);
  border: 2px solid #FFFFFF;
  z-index: 2;
  top: 0;
  width: 100%;
  height: 100%;
  flex-direction: column;
  color: white;
  cursor: pointer;
}
.work .work__block1:active .work__info {
  background: rgba(185, 12, 12, 0.8);
  border: 2px solid #FFFFFF;
}
.work .work__block1 h4 {
  text-transform: uppercase;
  font-weight: 900;
  margin-bottom: 20px;
}
.work img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 1150px) {
  .work .work__block h4 {
    font-size: 18px;
    line-height: 21px;
  }
  .work .work__block p {
    font-size: 14px;
    line-height: 16px;
  }
}
@media screen and (max-width: 780px) {
  .work {
    max-height: none;
    display: flex;
  }
  .work .work__block {
    flex-direction: column;
  }
}
.team {
  margin: 114px auto;
  display: flex;
  justify-content: space-between;
  max-width: 1170px;
}
.team .team__block {
  align-items: start;
  justify-content: space-between;
  height: 619px;
}
.team .team__block img {
  width: 100%;
}
.team .team__block h4 {
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 5.4px;
}
.team .team__block h5 {
  text-transform: uppercase;
  color: rgb(255, 67, 67);
}
.team .team__block p {
  max-width: 270px;
  color: rgb(108, 114, 121);
}
.team .team__block .team__icon {
  width: 128px;
  display: flex;
  justify-content: space-between;
}
.team .team__block .team__icon img {
  width: 39px;
}

@media screen and (max-width: 1150px) {
  .team {
    margin: 78px 20px;
  }
  .team .team__block {
    width: 227px;
    height: 520px;
    margin: 5px;
  }
  .team .team__block h4 {
    font-size: 18px;
    line-height: 21px;
  }
  .team .team__block h5 {
    font-size: 14px;
    line-height: 16px;
  }
  .team .team__block p {
    font-size: 14px;
    line-height: 16px;
  }
}
@media screen and (max-width: 780px) {
  .team {
    flex-direction: column;
    margin: 35px auto;
    width: 280px;
  }
  .team .team__block {
    width: 100%;
    margin-bottom: 56px;
  }
  .team .team__block > img {
    height: 228px;
    object-fit: cover;
    margin: 0;
  }
  .team .team__block p {
    max-width: 280px;
  }
  .team .team__block:last-of-type {
    margin-bottom: 0;
  }
}
.comments {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  flex-wrap: wrap;
}
.comments input {
  display: none;
}
.comments label {
  height: 14px;
  width: 14px;
  margin: 25px;
  margin-top: 31px;
  order: 3;
  display: block;
  border: 1px solid rgb(126, 93, 111);
  border-radius: 50%;
}
.comments input[type=radio]:checked + label {
  background: #7E5D6F;
}
.comments #comments_input1:checked ~ #comments_input1,
.comments #comments_input2:checked ~ #comments_input2,
.comments #comments_input3:checked ~ #comments_input3,
.comments #comments_input4:checked ~ #comments_input4,
.comments #comments_input5:checked ~ #comments_input5 {
  display: flex;
}
.comments .comments__block {
  width: 100%;
  display: none;
}
.comments .comments__block img {
  width: 50%;
}
.comments .comments__block .comments__message {
  width: 50%;
  height: 100%;
  background: rgb(92, 50, 73);
  color: white;
  flex-direction: column;
  align-items: start;
  padding-left: 130px;
}
.comments .comments__block .comments__message .comments__text {
  width: 77%;
  padding: 20px 0;
}
.comments .comments__block .comments__message .comments__text p {
  font-family: "Cardo";
  font-style: italic;
  font-weight: 400;
  font-size: 36px;
  line-height: 49px;
  text-transform: capitalize;
}
.comments .comments__block .comments__message .comments__man {
  width: 90%;
}
@media screen and (max-width: 1150px) {
  .comments .comments__block .comments__message {
    padding-left: 80px;
  }
  .comments .comments__block .comments__message .comments__text p {
    font-size: 24px;
    line-height: 32px;
  }
  .comments .comments__block .comments__message .comments__man p {
    font-size: 12px;
    line-height: 14px;
  }
}
@media screen and (max-width: 780px) {
  .comments {
    max-width: 320px;
    margin: 0 auto;
  }
  .comments label {
    height: 9.5px;
    width: 9.5px;
    margin: 10px;
    margin-top: 23px;
  }
  .comments .comments__block {
    flex-direction: column;
  }
  .comments .comments__block img {
    width: 100%;
  }
  .comments .comments__block .comments__message {
    padding: 0 20px;
    width: 100%;
    height: 326px;
    align-items: center;
    justify-content: start;
  }
  .comments .comments__block .comments__message .comments__text {
    text-align: center;
    width: 100%;
  }
  .comments .comments__block .comments__message .comments__text p {
    font-size: 24px;
    line-height: 32px;
  }
  .comments .comments__block .comments__message .comments__man {
    width: 100%;
  }
  .comments .comments__block .comments__message .comments__man p {
    font-size: 12px;
    line-height: 14px;
  }
}/*# sourceMappingURL=style.css.map */