.features {
    margin: 116px auto;
    max-width: 1170px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .features__block {
        max-width: 370px;
        height: 305px;
        @extend %flex_column;
        margin: 0 auto;

        img {
            width: 100px;
        }

        >p {
            text-align: center;
            @extend %text_h5;
            color: rgba(108, 114, 121, 1);
        }
    }

    .features__block:nth-of-type(1n+4) {
        margin-top: 88px;
    }

    .block__h4 {
        @extend %text_h4;
        @extend %flex_center;
        font-weight: 900;
        text-transform: uppercase;
        height: 72px;
    }
}

@media screen and (max-width:1150px) {
    .features {
        margin: 78px auto;

        .features__block {
            max-width: 315px;
            height: 237px;

            img {
                width: 84px;
            }

            >p {
                font-size: 14px;
                line-height: 16px;
            }
        }

        .features__block:nth-of-type(1n+4) {
            margin-top: 49px;
        }

        .block__h4 {
            font-size: 18px;
            line-height: 21px;
        }
    }
}

@media screen and (max-width:780px) {
    .features {
        margin: 40px auto 34px auto;

        .features__block {
            max-width: 280px;
            height: 223px;
            margin-top: 41px;

            img {
                width: 75px;
            }
        }
    }
}